%h1.text-center Listing Employees

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Birth day
      %th Birth month
      %th Company
      %th Actions

  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.first_name
        %td= employee.last_name
        %td= employee.email
        %td= employee.birth_day
        %td= employee.birth_month
        %td= link_to(employee.company.name, '')
        %td
          %div.btn-group{ role: 'group', 'aria-label': 'actions button group' }
            = link_to 'Show', employee, class: 'btn btn-primary'
            = link_to 'Edit', edit_employee_path(employee), class: 'btn btn-warning'
            = link_to 'Destroy', employee, method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger'

%br

= link_to 'New Employee', new_employee_path, class: 'btn btn-success'
