.container
  .row
    .col-3
      %b First Name:
    .col-9= @employee.first_name
    
  .row
    .col-3
      %b Last Name:
    .col-9= @employee.last_name

  .row
    .col-3
      %b Email:
    .col-9= @employee.email

  .row
    .col-3
      %b Birth Day:
    .col-9= @employee.birth_day

  .row
    .col-3
      %b Birth Month:
    .col-9= @employee.birth_month

  .row
    .col-3
      %b Company:
    .col-9= @employee.company.name

  .row
    .col-3
      %b Created at:
    .col-9= @employee.created_at

  .row
    .col-3
      %b Updated at:
    .col-9= @employee.updated_at

  .row
    .col-3
      %div.btn-group{ role: 'group', 'aria-label': 'actions button group' }
        = link_to 'Back', employees_path, class: 'btn btn-primary'
        = link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-warning'

